.section
  &-dark
    background: #262D33
    color: #ffffff
    padding: 50px 122px
.page
  &-title
    font-family: 'Roboto Slab'
    font-style: normal
    font-weight: bold
    font-size: 40px
    line-height: 50px
    margin-top: 0
    margin-bottom: 27px
  &-test
    font-size: 18px
    line-height: 30px
.contacts
  &-wrapper
    display: flex
    align-items: flex-start
  &-form
    max-width: 460px
  &-input
    width: 100%
    padding: 10px 15px
    height: 40px
    font-size: 14px
    line-height: 20px
    margin-bottom: 10px
    &::placeholder
      color: #939699
  &-textarea
    width: 100%
    padding: 10px 15px
    min-height: 120px
    font-size: 14px
    line-height: 20px
    margin-bottom: 20px
    resize: none
    &::placeholder
      color: #939699
