@font-face {
  font-family: 'Lato Black';
  src:
    local('Lato-Black'), local('Lato Black'),
    url('../fonts/Lato-Black.woff') format('woff'),
    url('../fonts/Lato-Black.woff2') format('woff2'),
    url('../fonts/Lato-Black.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato Regular';
  src:
    local('Lato-Regular'), local('Lato Regular'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

body {
  font-family: 'Lato Regular', sans-serif;
  font-size: 14px;
}
