.container
  max-width: 1140px
  width: 90%
  margin: auto

@media screen and (max-width: 1200px)
  .container
    max-width: 960px
@media screen and (max-width: 1200px)
  .container
    max-width: 768px
@media screen and (max-width: 768px)
  .container
    max-width: 576px
