.header
  background-color: #262D33
  padding-top: 15px
  padding-bottom: 15px
  color: white
  &-wrapper
    display: flex
    align-items: center
    justify-content: space-between
    a
      text-decoration: none
  &-menu
    margin: 0
    padding: 0
    list-style: none
    display: flex
    align-items: center
    &-toggle
      display: none
  &-light
    background-color: #ffffff
    .logo
      &-name
        color: #4592FF
    .menu
      &-item
        a
          color: #939699
    .search
      &-form
        input
          background-color: #F5F5F5
.custom
  &-logo
    width: 40px
.logo
  display: flex
  align-items: center
  &-name
    color: #ffffff
    font-family: 'Roboto Slab', serif
    font-size: 24px
    margin-left: 10px
.menu
  &-item
    a
      text-decoration: none
      color: white
      margin-left: 15px
      margin-right: 15px
.search
  &-form
    position: relative
    width: 25%
    height: 40px
  &-input
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    background: #656B70
    border-radius: 10px !important
    border: none !important
    padding: 10px 25px !important
    &::placeholder
      color: #939699
  &-button
    position: absolute
    right: 15px
    top: 0px
    width: 40px
    height: 40px
    background-color: transparent
    border: none
    cursor: pointer
    padding: 0
    padding-top: 3px
  &-icon
    fill: #BCBFC2

@media screen and (max-width: 1200px)
  .menu
    &-item
      a
        text-decoration: none
        color: white
        margin-left: 10px
        margin-right: 10px
@media screen and (max-width: 1024px)
  .header
    &-wrapper
      flex-wrap: wrap
    &-nav
      order: 5
      padding-top: 20px
    &-menu
      flex-wrap: wrap
  .search
    &-form
      width: 30%
  .menu
    &-item
      a
        margin-left: 0
        margin-right: 30px
@media screen and (max-width: 1024px)
  .search
    &-form
      margin-left: auto
      width: 40%
  .header
    &-wrapper
      position: relative
    &-nav
      display: none
      position: absolute
      right: 0
      top: 55px
      width: calc(40% + 40px)
      background-color: #ffffff
      padding: 30px
      z-index: 99
      border-radius: 10px
      box-shadow: 1px 1px 10px rgba(#262D33, 0.2)
    &-menu
      flex-direction: column
      align-items: flex-start
      a
        color: #000
      &-toggle
        display: flex
        width: 30px
        height: 20px
        align-items: center
        justify-content: space-between
        flex-direction: column
        margin-left: 10px
        span
          width: 100%
          height: 1px
          background-color: #ffffff
    .menu
      &-item
        &:not(:last-child)
          margin-bottom: 15px
@media screen and (max-width: 400px)
  .search
    &-form
      order: 5
      width: 100%
      margin-top: 15px
