.investigation
  padding: 50px 0 55px
  text-align: center
  margin-bottom: 30px
  &-title
    font-family: 'Roboto Slab'
    font-style: normal
    font-weight: bold
    font-size: 40px
    line-height: 50px
    max-width: 946px
    width: 100%
    color: #ffffff
    margin: 0 auto 25px

@media screen and ( max-width: 400px )
  .investigation
    &-title
      font-size: 30px
      line-height: 40px
