.sidebar
    &-front-page
        margin-left: 30px
        margin-top: 30px
.widget
    &-downloader
        background: #3BBDC4 url('../images/file.svg') no-repeat top 24px right 22px
        border-radius: 10px
        color: #ffffff
        padding: 25px
        padding-bottom: 55px
        position: relative
        .widget
            &-title
                margin-top: 0
                font-family: 'Roboto Slab', sans-serif
                font-style: normal
                font-weight: bold
                font-size: 16px
                line-height: 25px
            &-link
                position: absolute
                bottom: 0
                left: 0
                right: 0
                text-align: center
                padding-top: 12px
                padding-bottom: 13px
                border-top: 1px solid rgba(#ffffff, 0.75)
                color: #ffffff
                font-family: 'Lato Black', sans-serif
                font-size: 14px
                line-height: 20px
                text-decoration: none
                display: inline-flex
                align-items: center
                justify-content: center
                &-icon
                    margin-right: 10px
        .description
            color: #C1F4F5
            font-size: 14px
            line-height: 20px
