.post
  &-nav
    &-prev
      svg
        transform: rotate(180deg)
  &-header
    padding: 60px 0 0
    color: #ffffff
    &-wrapper
      position: relative
      padding-bottom: 72px
    &-title
      font-family: 'Roboto Slab', sans-serif
      font-style: normal
      font-weight: bold
      font-size: 55px
      line-height: 70px
      max-width: 750px
      margin: 0
      &-wrapper
        display: flex
        align-items: flex-start
        justify-content: space-between
        padding-bottom: 20px
    .bookmark
      padding: 15px 10px 0 0
      border: none
      background: none
      &-icon
        fill: #BCBFC2
    &-nav
      display: flex
      align-items: center
      justify-content: space-between
    .home
      &-link
        text-decoration: none
        color: #ffffff
        display: flex
        align-items: center
        font-size: 14px
        line-height: 20px
        margin-left: auto
        margin-right: 30px
        svg
          fill: #ffffff
          margin-right: 6px
    .nav-links
      min-width: 180px
      a
        color: #ffffff
        text-decoration: none
        font-size: 14px
        line-height: 20px
      svg
        fill: #ffffff
        margin-left: 8px
        margin-right: 8px
    .navigation
      margin: 0
    p
      font-size: 18px
      line-height: 30px
      margin-bottom: 43px
      width: 630px
      opacity: 0.85
    &-info
      display: flex
      align-items: center
    &-date, &-comments, &-likes
      opacity: 0.85
      &:not(:last-child)
        margin-right: 22px
      svg
        margin-right: 6px
        fill: #FFFFFF
        opacity: 0.5
  &-author
    position: absolute
    right: 0
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    background-color: #ffffff
    border-radius: 10px
    overflow: hidden
    border: 1px solid #D9DADB
    min-width: 263px
    &-avatar
      width: 90px
      height: 90px
      border-radius: 50%
      object-fit: cover
    &-info
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      color: #262D33
      padding: 35px 25px 20px
    &-name
      font-family: 'Roboto Slab'
      font-style: normal
      font-weight: bold
      font-size: 20px
      line-height: 25px
      margin-top: 15px
      margin-bottom: 5px
    &-rank
      font-size: 14px
      line-height: 20px
      color: #4B5157
      margin-bottom: 15px
    &-posts
      font-size: 14px
      line-height: 20px
      font-family: 'Lato Black', sans-serif
    &-link
      color: #262D33
      padding: 15px 25px
      text-decoration: none
      border-top: 1px solid #D9DADB
      width: 100%
      text-align: center
      font-family: 'Lato Black', sans-serif
      font-size: 14px
      line-height: 20px
      &:visited
        color: #262D33
  &-content
    padding-top: 60px
    p
      font-size: 18px
      line-height: 30px
      color: #4B5157
      margin: 30px 0
    & > p:first-child
      max-width: 623px
    .has-drop-cap
      &:not(:focus)
        &:first-letter
          color: #4592FF
          font-family: 'Lato Black', sans-serif
    h1, h2, h3, h4, h5, h6
      font-family: 'Roboto Slab'
      font-style: normal
      font-weight: bold
      line-height: 30px
    h1
      font-size: 30px
    h2
      font-size: 25px
    h3
      font-size: 22px
    h4
      font-size: 18px
    h5
      font-size: 16px
    h6
      font-size: 14px
    ul, ol
      margin-top: 20px
      padding: 0
      margin-left: 20px
      font-size: 18px
      line-height: 30px
    blockquote
      font-family: 'Roboto Slab'
      font-style: normal
      font-weight: bold
      font-size: 25px
      line-height: 30px
      color: #262D33
      margin-left: 0
      margin-top: 80px
      margin-bottom: 40px
      position: relative
      &::before
        position: absolute
        top: -20px
        left: -20px
        content: ''
        background-image: url('../images/quote.svg')
        background-repeat: no-repeat
        background-size: 100%
        background-position: center
        width: 70px
        height: 70px
        z-index: -1
      cite
        font-style: normal
        font-size: 14px
        line-height: 15px
    code, pre
      font-size: 18px
      white-space: pre-wrap
      a
        text-decoration: none
        color: inherit
        &:hover
          text-decoration: underline
    table, td, tr
      border: 1px solid black
      border-collapse: collapse
      font-size: 18px
      line-height: 30px
      margin-bottom: 5px
      td
        padding: 5px
    .wp-block
      &-cover, &-media-text
        margin-bottom: 25px
      &-pullquote
        padding: 1em 0
  .tags-links
    a
      text-decoration: none
      font-size: 14px
      line-height: 20px
      padding: 5px 15px
      color: #262D33
      border: 1px solid #D9DADB
      border-radius: 5px
      margin-right: 10px
